{% extends "base.html" %}
{% block title %}

{% end %}
{% block body %}
   <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!--<div class="col-lg-12">-->
                        <!--<h1 class="page-header">Blank</h1>-->
                    <!--</div>-->
                    <img src="{{static_url('automate.png')}}"  alt="自动化测试" />
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
{% end %}