{% extends "base.html" %}
{% block title %}

{% end %}
{% block body %}
{% autoescape None %}
<div id="page-wrapper">

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <input type="hidden" id="session" value="{{ session }}"/>

                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    任务制定
                                </div>
                                <!-- /.panel-heading -->
                                <form role="form" action="/tasks/produce" method="post"
                                      onsubmit="return validate_form(this)">
                                    <div class="form-group">
                                        <label>版本号:</label>
                                        <input class="form-control" name="version">
                                    </div>
                                    <div class="form-group">
                                        <label>用例选择:</label>
                                        <select multiple class="form-control" style="height: 150px" name="cases">
                                            {%for case_name in case_names%}
                                            <option value="{{case_name}}">{{case_name}}</option>
                                            {%end%}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>邮件:</label>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="email">发送
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default">提交任务</button>
                                </form>
                                <!-- .panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    正在运行
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body" id="running">

                                </div>
                                <!-- .panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    等待中
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body" id="pending">

                                </div>
                                <!-- .panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<script>
    function validate_required(field, alerttxt) {
        with (field) {
            if (value == null || value == "") {
                alert(alerttxt);
                return false
            }
            else {
                return true
            }
        }
    }

    function validate_form(thisform) {
        with (thisform) {
            if (validate_required(version, "版本号不可以为空!") == false) {
                version.focus();
                return false
            }
            if (validate_required(cases, "至少选择一个用例!") == false) {
                cases.focus();
                return false
            }

        }
    }
    $(document).ready(function () {
        document.session = $('#session').val();
        setTimeout(reques_task_status, 100);
    });

    function reques_task_status() {
        $.post("/tasks/status", {Action: "post"},
                function (data, textStatus) {
                    jQuery("#pending").empty();
                    jQuery("#running").empty();
                    var task_status = eval('(' + data + ')');

                    var pending_cases = task_status["pending_cases"];
                    for (var index in pending_cases) {
                        var pending_data = "<div class='alert alert-warning'>" +
                                pending_cases[index]["name"] + " " +
                                pending_cases[index]["version"] + " " +
                                "</div>";
                        jQuery("#pending").append(pending_data);
                    }

                    var running_cases = task_status["running_cases"];
                    for (var index in running_cases) {
                        var running_data = "<div class='alert alert-danger'>" +
                                running_cases[index]["name"] + " " +
                                running_cases[index]["version"] + " " +
                                "</div>";
                        jQuery("#running").append(running_data);
                    }

                }, "text");
        setTimeout(reques_task_status, 10000);
    }
</script>
{% end %}